<!-- Yotpo Star Rating (Product Page) | location: Snippets > yotpo-pdp-star-rating.liquid -->
<div class="yotpo bottomLine" style="margin-top:5px"
data-product-id="{{ product.id }}">
</div>
<style>
.yotpo-bottomline.pull-left.star-clickable .text-m {
margin-left: 5px;
}
</style>
<!-- End of Yotpo Star Rating (Product Page) -->