<div class="Container">
  <div class="PageContent Rte">
    {{ page.content }}
  </div>
</div>
{% schema %}
  {
    "name": "Main page",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}