<script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 

<div id="sca_fg_cart">
{% section 'cart-template' %}
{%- comment -%}{% section 'recently-viewed-products' %}{%- endcomment -%}
</div>
