<div class="Container">
  <div class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </div>

  <div class="PageContent Rte">
    {{ page.content }}
  </div>
</div>
{% if page.handle == 'spring-lookbook-2022' %}
<script src="https://web-assets.stylitics.com/v3-classic/latest/classic.release.js"></script>
<script>
  let widgetInstance1 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-1", { api: {tags: "lookbook_gallery_1, lookbook_gallery_2" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance2 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-2", { api: {tags: "lookbook_gallery_2" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance3 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-3", { api: {tags: "lookbook_gallery_3" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance4 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-4", { api: {tags: "lookbook_gallery_4" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance5 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-5", { api: {tags: "lookbook_gallery_5" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance6 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-6", { api: {tags: "lookbook_gallery_6" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance7 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-7", { api: {tags: "lookbook_gallery_7" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance8 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-8", { api: {tags: "lookbook_gallery_8" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance9 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-9", { api: {tags: "lookbook_gallery_9" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance10 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-10", { api: {tags: "lookbook_gallery_10" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance11 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-11", { api: {tags: "lookbook_gallery_11" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance12 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-12", { api: {tags: "lookbook_gallery_12" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance13 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-13", { api: {tags: "lookbook_gallery_13" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance14 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-14", { api: {tags: "lookbook_gallery_14" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance15 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-15", { api: {tags: "lookbook_gallery_15" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance16 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-16", { api: {tags: "lookbook_gallery_16" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance17 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-17", { api: {tags: "lookbook_gallery_17" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance18 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-18", { api: {tags: "lookbook_gallery_18" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance19 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-19", { api: {tags: "lookbook_gallery_19" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance20 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-20", { api: {tags: "lookbook_gallery_20" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance21 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-21", { api: {tags: "lookbook_gallery_21" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance22 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-22", { api: {tags: "lookbook_gallery_22" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance23 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-23", { api: {tags: "lookbook_gallery_23" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance24 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-24", { api: {tags: "lookbook_gallery_24" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance25 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-25", { api: {tags: "lookbook_gallery_25" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance26 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-26", { api: {tags: "lookbook_gallery_26" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance27 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-27", { api: {tags: "lookbook_gallery_27" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance28 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-28", { api: {tags: "lookbook_gallery_28" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})
  let widgetInstance29 = new StyliticsClassicWidget( "liverpool", "stylitics-widget-container-29", { api: {tags: "lookbook_gallery_29" },text: { viewDetailsCTA: 'Shop this look'},responsive: [ [0,    { columns: 2 }], [768, { columns: 3 }],]})

  widgetInstance1.start();
  widgetInstance2.start();
  widgetInstance3.start();
  widgetInstance4.start();
  widgetInstance5.start();
  widgetInstance6.start();
  widgetInstance7.start();
  widgetInstance8.start();
  widgetInstance9.start();
  widgetInstance10.start();
  widgetInstance11.start();
  widgetInstance12.start();
  widgetInstance13.start();
  widgetInstance14.start();
  widgetInstance15.start();
  widgetInstance16.start();
  widgetInstance17.start();
  widgetInstance18.start();
  widgetInstance19.start();
  widgetInstance20.start();
  widgetInstance21.start();
  widgetInstance22.start();
  widgetInstance23.start();
  widgetInstance24.start();
  widgetInstance25.start();
  widgetInstance26.start();
  widgetInstance27.start();
  widgetInstance28.start();
  widgetInstance29.start();
</script>
<style>
  .stylitics-lookbook .stylitics-lookbook-iteam > img{margin-bottom: 0;}
  .stylitics-lookbook .stylitics-lookbook-iteam .stylitics-view-item-details-cta {
    text-transform: uppercase;
    font-weight: bold;
  }
</style>  
{%- elsif page.handle == 'liverpool-holiday-gift-guide' or page.handle == 'the-liverpool-mens-holiday-gift-guide' -%}
  <script src="https://web-assets.stylitics.com/v3-classic/latest/classic.release.js"></script>
  <script>
    var outfitElements = document.querySelectorAll('main#main .PageContent .outfit');
    //console.log(outfitElements.length);
    if (outfitElements.length > 0) {
      outfitElements.forEach((element, index) => {
        var styliticsTags = element.dataset.styliticsTags;
        var styliticsId = element.dataset.styliticsId;
        //console.log('index: ', index);
        let widgetInstance = new StyliticsClassicWidget(styliticsId, element, {
            api: {
                tags: styliticsTags
            },
        });
        widgetInstance.on("mount", "bundles", function(data) {
          //console.log('tag: ', styliticsTags, data);
          if (data.bundles && data.bundles.length > 0) {
              outfitElements[index].parentElement.style.display = 'block';
              var childElement = outfitElements[index];
              setTimeout(function() {
                  //childElement.querySelectorAll('.stylitics-bundle-header')[0].innerText = 'Liverpool Style';
              }, 1);
          } else {
              console.log('No data:', styliticsTags);
          }
        });
        widgetInstance.start();
      });
    }
  </script>
{% endif %}
