{% section 'product-template' %}
{% section 'size-chart' %}
<div id="bluecore_section" class="bluecore_module_hidden"></div>
{% section 'related-products' %}
{%- comment -%}{% section 'recently-viewed-products' %}{%- endcomment -%}